
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#5f827c;
    font-family: Arial, sans-serif;
    margin: 0;
}

img{
    height: 400px;
    width: 400px;
    margin-right: 100px;
}

.stopwatch {
    background: #c0b6b6;
    padding: 20px;
    border-radius: 8px;
    border-width: 5px;
    border: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startStopBtn {
    background-color: #28a745;
    color: white;
}

#resetBtn {
    background-color: #dc3545;
    color: white;
}

#lapBtn {
    background-color: #007bff;
    color: white;
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
